introduction {
    direction: column;
    align-items: center;

    gap: 10;
    margin-bottom: 40px;
}

header {
    font-weight: bold;
    font-size: 42px;
    font-weight: ultralight;
    font-style: italic;

    align-items: center;
}

row_list {
    align-items: center;
    direction: row;

    gap: 40;
    
    padding-top: 20px;
    padding-bottom: 20px;
}

row_item {
    align-items: center;
    direction: column;

    border-color: "#666666";
    border-width: 4px;
    border-radius: 20px;

    padding: 10px;
}

item_title {
    font-size: 24px;
    font-weight: 600;
}

item_description {
    font-weight: 200;
    font-size: 12px;
}
