introduction {
    direction: column;
    align-items: center;

    gap: 10;
    margin-bottom: 40px;
}

header {
    font-weight: bold;
    font-size: 42px;
    font-style: italic;
}

subheader {
    font-weight: 600;
    font-size: 36px;
}

row_list {
    align-items: center;
    direction: row;

    gap: 40;
    
    padding-top: 40px;
    padding-bottom: 40px;
}

row_item {
    align-items: center;
    direction: column;

    margin: 30px;

    border-color: #484845;
    border-width: 4px;
    border-radius: 20px;

    padding: 25px;

}

column_list {
    align-items: center;
    direction: column;
    
    gap: 40;
    
    padding-top: 40px;
    padding-bottom: 40px;
}

column_item {
    align-items: center;
    direction: row;

    margin: 30px;
    
    border-color: #484845;
    border-width: 4px;
    border-radius: 20px;
    
    padding: 30px;
}

column_item_details {
    align-items: center;
    direction: column;

    padding-left: 40px;
    padding-right: 40px;

    gap: 70;
}

item_title {
    font-size: 24px;
    font-weight: 600;
}

item_description {
    font-weight: 200;
    font-size: 12px;
}

item_description_small {
    font-weight: 100;
    font-size: 8px;
}

hr {
    padding: 40px;
}

button {
    margin: 20px;
    width: 70px;
    height: 40px;

    font-size: 14px;
    font-weight: 600;
}